<main>

{{!-FORMULARIO-}}

<div class="container" style="background-color: blue;">
    <div class="row">
        <div class="col-6 offset-3">
            <form>
                <input type="text"  class="form-control"placeholder="Nome Produto">
                <input type="number"  class="form-control"placeholder="Valor Produto">
                <input type="file">
                <input type="submit" class="btn btn-primary" value="Cadastrar"
                
                class="form-control"placeholder="Cadastro">
            </form>
        </div>
      
    </div>
</div>

</main>